<h1>Toto je stránka About.</h1>

<%= link_to 'Na Hlavní stránku', root_path %>

<br><br>

<%= link_to image_tag('tatarsky-biftek-angusfarm-sobesuky-1000x1000.jpg'), 'https://www.angusfarm.cz/recepty/tatarsky-biftek-tatarak-2074/' %>